*{
    padding: 0%;
    margin: 0%;
}

.header{
    padding: 10px 30px;
    background-color: #F7F7F7;
    /* display: inline-block; */
    position: relative;
    box-shadow: 0 1px 5px grey;
    margin-bottom: 30px;
}

.links{
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 18px;
}

.header .image img{
    width: 250px;
}

.pdf{
    text-decoration: none;
    color: grey;
}

.registration{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    padding: 20PX 0;
    color: #006838;
}

form{
    width: 70%;
    margin: 10px auto;
    /* background-color: brown; */
    box-shadow: 0 0 5px grey;
    border-radius: 5px;
}

.first-row{
    display: inline-block;
    width: 25%;
    /* background-color: blue; */
    padding: 10PX 4% 10PX 6%;
    
}

.second-row{
    display: inline-block;
    width: 25%;
    /* background-color: blue; */
    padding: 10PX 2% 10PX 2%;
}

.third-row{
    display: inline-block;
    width: 25%;
    /* background-color: blue; */
    padding: 10PX 6% 10PX 4%;
}

input,select{
    font-size: 16px;
    width: 100%;
    margin: 17px 0;
    padding: 5px 0;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}

span{
    color: red;
}

.div2{
    padding: 0 6%;
}

#photo{
    width: 60%;
    border: 1px dotted #006838;
    padding: 30px;
    font-size: large;
    
}

label{
    color: #585976;
    font-weight: bold;
}

button{
    width: 30%;
    background-color: #006838;
    color: white;
    font-size: 20px;
    margin: auto;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    
}

#photo::-webkit-file-upload-button{
    background-color: #006838;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 200px;
}

::-webkit-scrollbar-thumb{
    background-color: #006838;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: lightgrey;
    border-radius: 10px;
  }